.gradle/
**/build/
!**/src/**/build.gradle
!**/build.gradle
!settings.gradle*
!gradle.properties

.cxx/
.externalNativeBuild/

.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
.local/
*.iml

captures/
.navigation/

.DS_Store
Thumbs.db

local.properties
**/*.keystore
**/*.jks